<!--
  templateType: page
  isAvailableForNewContent: true
  label: Product Detail - Single Product
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}



{# Product Detail #}
{% module "product_detail"
  path="../components/modules/ProductDetail"
%}

{# Related Products / You May Also Like #}
{% module "related_products"
  path="../components/modules/TrendingProducts"
  sectionTitle="You May Also Like"
  subtitle="Explore similar handcrafted pieces"
  maxProducts=4
%}



{% endblock %}

